
body{
    background-color: #449488;
}

/*color palette: #191918 -  #a6a489- #797f6b - #40695e - #449488 */

#container{
    position: absolute;
    left : 2px;
    top : 2px;
    width : calc(100vw - 4px);
    display : grid;
    grid-template-columns: calc(145px) calc(100% - 955px + 100px) 180px 180px 340px;
    grid-template-rows: 80% calc(20%);
    height : calc(100% - 6px);
    grid-gap: 2px;
}

#break_ind{
    left: 1px;
    width: 25px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.308);
    position: absolute;
    pointer-events: none;
}
#com_ind{
    width: 100%;
    height: 15px;
    background-color: rgba(255, 238, 0, 0.685);
    position: relative;
    top:40px; left: 0px;
    pointer-events: none;
}

#com_ind_container{
    grid-row: 1;
    grid-column: 2;
    overflow: hidden;
    color: transparent;
    pointer-events: none;
}
#error_info_container{
    
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 6;
    overflow: hidden;
    color: transparent;
    pointer-events: none;
}
#error_info{
    position: relative;
    top:40px;left:0px;
    width: calc(100%-4px);
    height: 40px;
    background-color: #191918;
    border : 3px solid #880000;
    color : #c9c8b7;
    border-radius: 5px;
    pointer-events: none;
    z-index: 3;
}

#text_area_container{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    color: transparent;
    overflow: hidden;
    display : grid;
    grid-template-columns: 26px calc(100% - 26px);
    grid-template-rows:    calc(100%);
    grid-gap: 2px;
}

#text_zone{
    grid-row: 1;
    grid-column: 2;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #191918;
    color: #c9c8b7;
    border : 0px;
    border-radius: 0px;
    font-size: 14px;
    line-height: 18px;
    outline : none;
    resize: none;
    font-family: "Source Code Pro";
    white-space: nowrap;
}

#in_val{
    position: relative;
    grid-row : 1;
    grid-column : 3;
    width: 100%;
    height: 100%;
    background-color: #191918;
    color: #c9c8b7;
    font-size: 16px;
    text-align: center;
}
#out_val{
    position: relative;
    grid-row : 1;
    grid-column : 4;
    width: 100%;
    height: 100%;
    background-color: #191918;
    color: #c9c8b7;
    font-size: 16px;
    text-align: center;
}

#explanation{
    grid-row : 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    background-color: #191918;
    color: #c9c8b7;
    font-size: 18px;
    font: "Source Code Pro";
}

#line_number{
    grid-row: 1;
    grid-column: 1;
    color: #c9c8b7;
    background-color: #191918;
    font-size: 14px;
    width: 90%;
    padding : 5%;
    user-select: none;
    text-align: right;
    float:left;
    font-family: "Source Code Pro";
    padding-top:calc(5% + 1px);
    overflow:hidden;
    line-height: 18px;
}

.memory{
    background-color: #191918;
    padding-right: 0px;
}

#ram{
    display:grid;
    grid-auto-rows: 50px;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    grid-row: 1;
    grid-column: 4;
    position:relative;
    overflow-y:auto;
}

#stack{
    display:grid;
    grid-auto-rows: 50px;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    grid-row: 1;
    grid-column: 3;
    position:relative;
    overflow-y:auto;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border: none;
    border-radius: 2px;
    outline: none;
    background-clip: content-box;
  }
  
::-webkit-scrollbar-thumb {
    background: #40695e;
}

.green{
    background-color: #094914;
}

.red{
    background-color: #470f0c;
}


.yellow{
    background-color: #b14c0a;
}

#win_screen{
    grid-row: 2;
    grid-column: 2/5;
    z-index: 3;
    background-color: #191918;
    visibility: hidden;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 66%;
    align-items: center;
    justify-items: center;
}

#win_text{
    grid-row: 1;
    grid-column: 1/4;
    font-size: 40px;
    color: #c9c8b7;
    font-family: "Source Code Pro";
    text-align: center;
    line-height: 50px;
}

.perf_ind{
    grid-row: 2;
    font-size: 20px;
    color: #c9c8b7;
    font-family: "Source Code Pro";
    text-align: center;
}

#mean_cycl{
    grid-column: 1;
}

#worst_cycl{
    grid-column: 2;
}

#numb_line{
    grid-column: 3;
}